<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body tabindex="-1" data-new-gr-c-s-check-loaded="14.1134.0" data-gr-ext-installed="">

    <%- include('partials/navbar', {page: '/404'}) %>

    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">404</h1>
            <p class="py-6"><%= message %></p>
          </div>
        </div>
      </div>
      <br>
    </div>
  </body>
</html>
